.users-section{
    border: 5px solid greenyellow;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 20px;
}
.user-details{
    border:5px solid red;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20px;
}