@if(user){

    <div class="user-details-card">
        <div class="detail">{{user.name}}</div>
        <div class="detai">{{user.gender}}</div>
        <div class="detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab reprehenderit harum totam error perspiciatis sapiente accusantium asperiores veritatis quia. Suscipit aliquid quae voluptatem numquam quia maiores hic soluta odit! Facere animi quaerat pariatur saepe iusto deserunt, voluptatem ad eveniet fuga error mollitia quas itaque, autem voluptate placeat voluptatibus ab amet?</div>
    </div>
}
